nav {
    background-color: white;
    color: #5b5fdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px; 
    height: auto; 
    margin-right: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  li {
    margin: 0 20px;
  }
  
  a {
    text-decoration: none;
    color: #5b5fdf;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  a:hover {
    color: black; 
  }
  

  @media (min-width: 769px) {
    .desktop-menu {
      display: flex;
      list-style: none;
    }
  
    .desktop-menu li {
      margin: 0 20px;
    }
  
    .mobile-menu-icon {
      display: none;
    }
  }
  

  @media (max-width: 768px) {
    .desktop-menu {
      display: none;
    }
  
    .mobile-menu-icon {
      display: block;
      font-size: 24px; 
      cursor: pointer;
      color: #5b5fdf; 
      margin-left: 20px;
    }
  }
  

  .desktop-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .desktop-menu li {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .desktop-menu a {
    text-decoration: none;
    color: #5b5fdf;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .desktop-menu a:hover {
    color: black;
  }
  
 
  .desktop-menu.hidden {
    display: none;
  }
  

  .mobile-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 60px;
    right: 20px;
  }
  
  .mobile-menu li {
    margin: 0;
    padding: 10px 20px;
  }
  
  .mobile-menu a {
    text-decoration: none;
    color: #5b5fdf;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .mobile-menu a:hover {
    color: black;
  }
  .mobile-menu ul {
    flex-direction: column;
    padding: 0; 
  }
  
  .mobile-menu ul li {
    margin-bottom: 10px;
  }
  

  .user-submenu {
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 999; 
    right: 10px;

  }
  .user-submenu li {
    padding: 10px;
    width: 100px;
    cursor: pointer;
  
  }
  .icon {
    display: inline-flex;
    align-items: center;
    margin-right: 8px; 
    vertical-align: middle;
  }
  
