.home-background {

  background-image: url('https://www.eltiempo.com/files/article_main_1200/uploads/2023/02/13/63eaf64168c8c.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
 
}

.contaiiner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89.9vh;
}


.conteent {
  text-align: center; 
  width: 450px;
}

h1 {
  font-size: 3rem;
}

.highlighted-text {
  color: #5b5fdf;
}
